@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #161618;
    color: white;
}

/* Home */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
}

.searchbar {
    display: flex;
}

.search-bar {
    font-family: 'Montserrat';
    width: 300px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.hamburger{
    display: none;
}

.top-menu {
    z-index: 3;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw ;
    transition: 1s;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close svg {
    width: 30px;
}

nav .ul-pc ul {
    list-style: none;
    display: flex;
}

nav .ul-pc ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover{
    color: #FFB1B1;
}

.icons i {
    margin-left: 15px;
    cursor: pointer;
}

.icons img {
    width: 25px;  
    height: auto; 
}

/* login */
.modal-box{
    z-index: 1;
    width: 500px;
    height: 500px;
    padding: 50px 0px;
    margin-left: -850px;
    margin-top: 100px;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

img.login-logo{
    width: 100px;
    margin-left: 200px;
    
}

.login-form{
    color: black;
    width: 400px;
    margin: 0 auto;
}

.login-form div{
    margin-bottom: 15px;
}

.login-form label{
    display: block;
}

.login-form input{
    width: 100%;
    line-height: 2;
    font-size: 16px;
    box-sizing: border-box;
}

.login-form button{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.close-modal-btn{
    color: black;
     font-size: 30px;
     position: absolute;
     right: 10px;
     top: 10px;
     text-decoration: none;
}

.google-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-btn img{
    width: 50px;
}

/* Products */

.container-carousel{
    max-width: 1200px;
    margin: 20px auto;
}

.discover-products {
    font-weight: 650;
    font-size: 35px;
    padding: 20px;
    margin-left: 165px;  
}

.discover-products span {
    font-size: 35px;
    font-weight: 650;
}

.discover-products span{
    text-decoration: none;
    color: #FFB1B1;
}

.container-products-top {
    display: flex;
    background-color: white;
    color: black; /* Supaya teks terlihat di background putih */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan agar tampak seperti box */
    max-width: 1200px; /* Atur lebar maksimal sesuai keinginan */
    margin: 0 auto;
}

.column-left-top{
    flex: 1;
    padding: 50px;
    max-width: 1000px;
}

.column-right-top{
    flex: 1;
    padding: 100px;
}

.our-top h1{
    font-size: 40px;
    font-weight: 400;
    
}

.our-top span{
    font-weight: 700;
}

.our-top .item{
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}

.our-top .item2{
    padding: 10px;
    max-width: 300px;
    font-weight: 350;
}

.container-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1 {
    flex: 0;
    margin: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 280px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card-img {
    width: auto;
    height: 250px;
    transition: transform 0.2s ease-in-out;
}

.card-title {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: #333;
}

.card-text-discount{
    color: black;
    display: flex;
    text-decoration: line-through;
    font-size: 13px;
}

.card-text {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.card-text img {
    width: 20px; 
    height: auto;
    margin-right: 8px;
}

.card img:hover {
    transform: scale(1.1) ;
}

button{
    border: none;
    background: none;
}

.sidebar {
    padding: 15px;
}

.sidebar ul {
    display: flex; 
    list-style-type: none; 
    padding: 10px;
    justify-content: center; 
}

.sidebar li {
    margin: 0 25px; 
}

.sidebar a {
    text-decoration: underline;
    color: #ffffff;
}

.sidebar a:hover {
    color: #FFB1B1;
}

footer {
    margin-top: 20px;
}

/* Style untuk notifikasi */
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* Awalnya disembunyikan */
}

#notification.show {
    display: block; /* Tampilkan notifikasi saat class 'show' ditambahkan */
}

.hidden {
    display: none;
}




/* responsif */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }

    .logo img{
        width: 110px;
    }

    ul{
        list-style: none;
    }

    li{
        margin: 10px;
    }

    nav .searchbar{
        padding: 10px;
    }

    nav .ul-pc ul {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        display: none;
    }

    li.batas{
        display: none;
    }

    nav .icons{
        padding: 25px;
    }

    .hamburger{
        display: inline;
      }

    .modal-box{
    width: 330px;
    height: auto;
    padding: 10px 0px;
    margin-left: -80px;
    margin-top: -70px;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    }
    
    img.login-logo{
        width: 60px;
        display: flex;
        margin: 0 auto;
    }
    
    .login-form{
        color: black;
        width: 290px;
    }
    
    .login-form div{
        margin-bottom: 15px;
    }
    
    .login-form label{
        display: block;
    }
    
    .login-form input{
        width: 100%;
        line-height: 2;
        font-size: 16px;
        box-sizing: border-box;
    }
    
    .login-form button{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    
    .close-modal-btn{
        color: black;
         font-size: 30px;
         position: absolute;
         right: 10px;
         top: 10px;
         text-decoration: none;
    }

    .discover-products{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-left: 25px;
        padding: 0px;
    }

    .discover-products span{
        font-size: 20px;
    }

    .container-products-top{
        display: block;
        max-width: 300px;
    }

    .column-left-top{
        padding: 20px;
    }

    .column-right-top{
        padding: 50px;
    }

    .our-top h1{
        margin-left: 14px;
        align-items: center;
        font-size: 20px;
    }

    .our-top p.item{
        margin: 0 auto;
        font-size: 30px;
    }

    .container-product{
        display: block;
        margin-left: 18px;
        
    }
    
    .sidebar {
        font-size: 13px;   
        padding: 10px;
    }


}